@inherits LayoutComponentBase

<div class="page">
    <main>

        <article class="content px-1">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="Assets/img/logo.png" width="50" height="50" class="d-inline-block align-top ms-lg-5 rounded-2"
                             alt="Klingelnberg Logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <h3 class="text-white"> Machines To Assets Map </h3>
                    </div>
                    <ul class=" navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"><h4>Home</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Machine"><h4>Machines</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Assets"><h4>Assets</h4></a>
                        </li>
                    </ul>
                </div>
            </nav>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
