@page "/assetsByMachine{MachineName}"
<h3>AssetDetails</h3>
<h1 class="mt-lg-5 ">* </h1>
<div class=" container machine-container">
    <div class="btn-primary  p-2 text-center">
        <h3> Asset Overview Of Machine Model @MachineName?.Replace("{", "").Replace("}", "")</h3>
    </div>
    <h1></h1>
    <div class=" row m-3">
        @if (AssetsData == null || AssetsData.Count() ==0)
        {
            <p><em>Loading... </em></p>
            <p><em>Problem While loading Data </em></p>
        }
        else
        {
            <div class="row ">
                @foreach (var asset in AssetsData)
                {
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                           <AssetDetailsCard AssetData="asset"></AssetDetailsCard>
                    </div>
                }
            </div>
        }
    </div>
</div>
<br />