<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3 text-center">
            <h4></h4>
        </div>
        <div class="card-header py-3 text-center">
            <h5>Latest Series : </h5>
        </div>
        <div class="card-body text-center">
            <div class="mb-3">
                <img src=@($"Assets/img/.png") class="img-fluid" />
            </div>
            
        </div>
    </div>
</div>


