<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3 text-center">
            <h4>@AssetData.Name</h4>
        </div>
        <div class="card-header py-3 text-center">
            <h5>Latest Series : @AssetData.Series</h5>
        </div>
        <div class="card-body text-center">
            <div class="mb-3">
                <img src=@($"Assets/img/{AssetData.Name}.png") class="img-fluid" />
            </div>
        </div>
        <div class="card-body text-center">
            <div class="mb-3">
                <h5>Asset Used By :</h5>
                @foreach(var machine in AssetData.Machines)
                {
                    <h6>@machine</h6>
                }
            </div>
        </div>
    </div>
</div>


