@page "/assetsByMachine{MachineName}"
<h3>AssetDetails</h3>
<h1 class="mt-lg-5 ">* </h1>
<div class=" container machine-container">
    <div class="btn-primary  p-2 text-center">
            <h3> Asset Overview </h3>
    </div>
    <h1>@MachineName</h1>
    <div class=" row m-3">
        @if (AssetData == null)
        {
            <p><em>Loading... </em></p>
            <p><em>Problem While loading Data </em></p>
        }
        else
        {
            <div class="row ">
                @foreach (var asset in AssetData)
                {
                    <h1>test</h1>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <ErrorBoundary>
                            <ChildContent>
                                <AssetDetailsCard AssetData="asset"></AssetDetailsCard>
                            </ChildContent>
                            <ErrorContent>
                                <p class="errorUI">Invalid Machine!</p>
                            </ErrorContent>
                        </ErrorBoundary>
                    </div>
                }
            </div>
        }
    </div>
</div>
<br />