@page "/"

<PageTitle>Home</PageTitle>
<h1 class="mt-lg-5 ">* </h1>

<div class=" container machine-container">
    <div class="btn-primary  p-2 text-center">
        <a href="/machine" class="btn text-white">
            <h3> Machine Overview (view all)</h3>
        </a>
        
    </div>
    <div class=" row m-3">
        @if (machines == null)
        {
            <p><em>Loading...</em></p>
            <div class="col col-2 align-content-center ">
                <a href="/machine" class="btn text-white btn-secondary"> View All Machine Data </a>>
            </div>
        }
        else
        {
            <div class="row ">
                @foreach (var machine in machines)
                {
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <ErrorBoundary>
                            <ChildContent>
                                <MachineCard Machine="machine"></MachineCard>
                            </ChildContent>
                            <ErrorContent>
                                <p class="errorUI">Invalid Machine!</p>
                            </ErrorContent>
                        </ErrorBoundary>
                    </div>
                }

                <div class="col col-2 align-content-center ">
                    <a href="/machine" class="btn text-white btn-secondary"> View All Machine Data </a>
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class=" container asset-container">
    <div class="btn-primary p-2 text-center">
        <a href="/Assets" class="btn text-white">
            <h3> Latest Assets Overview (View all Assets Information )</h3>
        </a>
    </div>
    <div class=" row m-3">
        @if (assets == null)
        {
            <p><em>Loading...</em></p>
            <div class="col col-2 align-content-center ">
                <a href="/Assets" class="btn text-white btn-secondary"> View All Assets Data </a>
            </div>
        }
        else
        {
            <div class="row ">
                @foreach (var assetName in LatestAssets.Keys)
                {
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <ErrorBoundary>
                            <ChildContent>
                                <AssetCard AssetName="@assetName" AssetSeries="@LatestAssets[assetName]"></AssetCard>
                            </ChildContent>
                            <ErrorContent>
                                <p class="errorUI">Invalid Machine!</p>
                            </ErrorContent>
                        </ErrorBoundary>
                    </div>
                }
                <div class="col col-2 align-content-center ">
                    <a href="/Assets" class="btn text-white btn-secondary"> View All Assets Data </a>
                </div>
            </div>
        }
    </div>

</div>