@page "/Machine"
<h3 class=" text-center btn-primary p-2">Machine Details </h3>
<div class=" row m-3">
    @if (MachineData == null || MachineData.Count() == 0)
    {
        <p><em>Loading... </em></p>
        <p><em>Problem While loading Data </em></p>
    }
    else
    {
        <div class="row ">
            @foreach (var machine in MachineData)
            {
                <div class="col-12 ">
                    <MachineDetailsCard Model="@machine.ModelName"></MachineDetailsCard>
                </div>
            }
        </div>
    }
</div>
