@page "/LatestMachine"
@rendermode InteractiveServer
<h1 class="mt-lg-5 rounded"> </h1>
<h3 class=" text-center btn-primary p-2">Machine Having All Latest Asset Series </h3>

<div class=" align-content-center  "> 
    <h3 class=" ps-2"> Card View <InputCheckbox class="bi bi-filter-square ps-2"  @bind-Value="@IsCardView" /></h3>  
</div>

<div class=" row m-3">
    @if (MachineData == null || MachineData.Count() == 0)
    {
        <p><em>Loading... </em></p>
        <p><em>Problem While loading Data </em></p>
    }
    else if (IsCardView)
    {
        <div class="row ">
            @foreach (var machine in MachineData)
            {
                <div class="col-12 ">
                    <MachineDetailsCard Model="@machine"></MachineDetailsCard>
                </div>
            }
        </div>
        
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center align-middle">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Machine Model</th>
                        <th>Image</th>
                        <th>Assets Used</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var machine in MachineData)
                    {
                        <MachineDetailsRow Model="@machine"></MachineDetailsRow>
                    }
                </tbody>
            </table>
        </div>
    }
</div>