@page "/LatestMachine"
<h1 class="mt-lg-5 rounded"> </h1>
<h3 class=" text-center btn-primary p-2">Machine Having All Latest Asset Series </h3>
<div class=" row m-3">
    @if (MachineData == null || MachineData.Count() == 0)
    {
        <p><em>Loading... </em></p>
        <p><em>Problem While loading Data </em></p>
    }
    else
    {
        <div class="row ">
            @foreach (var machine in MachineData)
            {
                <div class="col-12 ">
                    <MachineDetailsCard Model="@machine"></MachineDetailsCard>
                </div>
            }
        </div>
    }
</div>