<div class="col p-2 rounded-2 ">
    <div class="card rounded-3 employee-card sm-12">
        <div class="card-header py-3 text-center">
            <h4>@MachineData?.ModelName</h4>
        </div>
        <div class="card-body text-center border-1 rounded-2 ">
            <div class="mb-12">
                <img src=@($"Assets/img/{@MachineData?.ModelName}.png") class="img-fluid" />
            </div>
        </div>
        
        <div class="row">
            <h3>  </h3>
            <div class=" text-center border-1 rounded-2">
                <h4>Assets Used By @MachineData?.ModelName Machine</h4>
            </div>
            @if (MachineData != null)
            {
                @foreach (var asset in MachineData.Assets)
                {
                    <div class="col sm-4">
                        <AssetCard AssetName="@asset.Name" AssetSeries="@asset.Series"></AssetCard>
                    </div>
                }
            }
            else{
                <h1>Data Not Found !</h1>
            }
        </div>
    </div>
</div>