@using AssetUI.Services
@inject GetImageService GetImageService
<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3 text-center">
             <h4>@Machine.ModelName</h4>
        </div>
        <div class="card-body text-center">
            <div class="mb-3">
                <img src=@(GetImageService.GetImage(@Machine.ModelName,"Machine")) class="img-fluid" />
            </div>
            <a href="/assetsByMachine{@Machine.ModelName}" class="btn btn-outline-primary btn-sm mb-1">
                Details of Assets Used By Machine
            </a>
        </div>
    </div>
</div>