[*.cs]

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = none

# IDE0025: Use expression body for property
csharp_style_expression_bodied_properties = true
