@inherits LayoutComponentBase
<div class="page">

    <main>
        <Navbar/>
        <h1 class="mt-lg-5 text-white">------------------------------------------- </h1>

        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

