@using AssetUI.Services
@rendermode InteractiveServer
<div class=" navbar-brand">

    <article class="content px-1">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="Assets/img/logo.png" width="50" height="50" class="d-inline-block align-top ms-lg-5 rounded-2"
                         alt="Klingelnberg Logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <h3 class="text-white ms-3">Machines To Assets Map</h3>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/"><h4>Home</h4></a>
                        </li>
                        <li class="nav-item dropdown">

                            <h4 class="nav-link dropdown-toggle nav-link active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                Machines
                            </h4>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Machine">All Machines</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/LatestMachine">Machines With <br /> Latest Asset Series</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Assets"><h4>Assets</h4></a>
                        </li>
                        <button class="btn btn-primary text-white border rounded p-1"
                                @onclick="LoadData1">
                            Load Data
                        </button>
                    </ul>
                </div>
            </div>
        </nav>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    </article>

</div>

<script>
    function showAlert(message)
    {
    alert(message);
    }
</script>
@code {

    [Inject]
    public IJSRuntime? JSRuntime { get; set; }
    [Inject]
    private DataLoadingService? _dataLoadingService { get; set; }
    public void LoadData1()
    {
        Console.WriteLine("Data Load Button Clicked !");
        _dataLoadingService!.LoadData();
        Console.WriteLine("Data Loaded !");

        JSRuntime!.InvokeVoidAsync("showAlert", "Loading Data !");
    }
}
